* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: #060a44;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.imgHead {
    width: 30%;
}

.cabecalho-lista-item {
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}

.cabecalho-lista-item a {
    text-decoration: none;
    color: white;
}

.house {
    width: 25%;
    border-radius: 20px;
}

#informacao {
    background-image: linear-gradient(#060a44, #118fe2);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.info-site {
    width: 35%;
    margin-right: 70px;
    padding-bottom: 24px;
}

.info-titulo {
    padding: 24px 0;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.cr7 {
    width: 200px;
}

.logan {
    width: 200px;
}

.tyler {
    width: 200px;
}

.icone {
    width: 24px;
}

#hall {
    text-align: center;
}

.membros-titulo {
    text-align: center;
    padding: 50px 0;
}

.membros-todos {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    text-align: center;
}

.rodape {
    background-color: black;
    text-align: center;
    margin-top: 24px;
}

.img-rodape {
    height: 60px;
    padding: 12px 0;
}

